.qrgenerator__wrap{
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }
}

.qr{
        max-width: fit-content;
        margin: 0 auto;
    &__inputwrap {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        input {
            width: 300px;
            background-color: rgb(25, 99, 163);
            color: white;
            padding: 10px 16px;
            height: 50px;
            border: 2px solid greenyellow;
            border-radius: 4px;
            transition: all 0.3s;
            &:hover{
                background-color: darkorange;
            }
        }
        button{
            width: 75px;
            height: 45px;
            background-color: darkmagenta;
            color: white;
            padding: 4px;
            border-radius: 4px;
            font-size: 16px;
            transition: all 0.3s;

            &:hover{
                background-color: darkorange;
            }
            
        }
    }
    &__container{
        max-width: fit-content;
        margin: 0 auto;
    }

}