.accordion__btn {
  background-color: orange;
  border: 4px;
  position: relative;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  transition: all 1s;
}
.accordion__btn:hover {
  background-color: blue;
}
.accordion__title {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}
.accordion__item {
  padding: 20px;
  min-width: 300px;
  width: 60%;
  margin: auto;
}
.accordion__item--question {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.6s;
}
.accordion__item--ans {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  margin-top: 10px;
}
.accordion__item--arrow {
  transition: all 0.6s;
}

.accordion__item--ans.active {
  max-height: 500px;
  opacity: 1;
}

.accordion__item--arrow.active {
  transform: rotate(180deg);
}

.accordion__item--question.active {
  background-color: red;
}

.random__colorwrap {
  background-color: orange;
  padding: 40px;
}

.random__color {
  transition: all 1s;
}
.random__color--btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
  transition: all 1s;
}
.random__color--btncontainer button {
  background: white;
  padding: 10px 30px;
  transition: all 0.6s;
  color: black;
  font-weight: 700;
}
.random__color--btncontainer button:hover {
  transform: translateY(-10px);
  background: rgb(12, 8, 86);
  background: radial-gradient(circle, rgb(12, 8, 86) 25%, rgb(36, 36, 168) 77%);
  color: white;
  border-radius: 6px;
}
@media only screen and (max-width: 768px) {
  .random__color--btncontainer {
    transition: all 1s;
    flex-direction: column;
    gap: 15px;
  }
}

.starrating__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  transition: all 0.4s;
}
.star.active {
  color: #fff700;
  transform: scale(1.2);
}
.star.inactive {
  color: black;
}

.imageslider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  margin: auto;
}
.imageslider__currentimg {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #333;
  transition: all 0.5s;
}
.imageslider__currentimg--hide {
  display: none;
}
.imageslider .arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
  filter: drop-shadow(0px 0px 7px #555);
  transition: all 0.4s;
}
.imageslider .arrow-left {
  left: 1rem;
}
.imageslider .arrow-left:hover {
  color: rgb(41, 4, 249);
}
.imageslider .arrow-right {
  right: 1rem;
}
.imageslider .arrow-right:hover {
  color: rgb(4, 249, 69);
}
.imageslider .circle__indicator {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 4px;
}
.imageslider .current__indicator {
  background-color: #ffffff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0 0.4rem;
  cursor: pointer;
  transition: all 0.5s;
}
.imageslider .current__indicator--inactive {
  background-color: #777777;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.product__item {
  padding: 1rem;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s;
}
.product__item:hover {
  border: 4px solid rgb(35, 253, 67);
  box-shadow: 0px 0px 20px #f384f3;
  background-color: #cffff9;
  border-radius: 10px;
}
.product__btn {
  margin: auto;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 30px;
  transition: all 0.6s;
  cursor: pointer;
}
.product__btn:hover {
  background-color: rgb(35, 253, 67);
}
.product__btn--dis {
  margin: auto;
  background-color: rgb(180, 180, 180);
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 30px;
  transition: all 0.6s;
}

.loading__text {
  text-align: center;
  display: inline-block;
  font-size: 32px;
  transition: all 0.8s;
}

.menu__list__wrap {
  background-color: blue;
  height: 100%;
  width: 220px;
  border-radius: 4px;
}

.treetoggle__wrap {
  position: relative;
  display: flex;
  gap: 10px;
}
.treetoggle__wrap::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  transition: all 0.3s;
}
.treetoggle__wrap::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.treetoggle__wrap.active::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  transform: rotate(0deg);
}

.qrgenerator__wrap {
  margin: auto;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.qrgenerator__wrap h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.qr {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.qr__inputwrap {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.qr__inputwrap input {
  width: 300px;
  background-color: rgb(25, 99, 163);
  color: white;
  padding: 10px 16px;
  height: 50px;
  border: 2px solid greenyellow;
  border-radius: 4px;
  transition: all 0.3s;
}
.qr__inputwrap input:hover {
  background-color: darkorange;
}
.qr__inputwrap button {
  width: 75px;
  height: 45px;
  background-color: darkmagenta;
  color: white;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s;
}
.qr__inputwrap button:hover {
  background-color: darkorange;
}
.qr__container {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

:root {
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

[data-theme=dark] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #000000;
  --button-text: #fcfcfc;
}

.light__dark__wrap {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
  transition: all 0.6s;
}
.light__dark__wrap button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 30px;
  border-radius: 10px;
}

.progress_bar__top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  background-color: #000;
  color: white;
}

.scrollprograss__tracking__container {
  width: 100%;
  height: 10px;
  background-color: gold;
}

.currect__progress__bar {
  width: 0%;
  height: 10px;
  background-color: #be0aff;
}

.tab__wrapper {
  padding: 34px;
}
.tab__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab__button {
  background-color: red;
  color: white;
  padding: 10px 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s;
}
.tab__button span {
  position: relative;
  display: inline-block;
}
.tab__button span::after {
  position: absolute;
  content: "";
  background: url("../../images/next.png") no-repeat center center;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.tab__button:hover {
  background-color: blue;
}
.tab__button:hover span::after {
  transform: translateX(10%) translateY(-40%) rotate(180deg);
  transform-origin: center;
}

.modal__btn {
  background-color: orangered;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  margin: auto;
  display: block;
  padding: 20px 50px;
  transition: all 0.6s;
}
.modal__btn:hover {
  background-color: seagreen;
}
.modal__container {
  background-color: peru;
  width: 50%;
  text-align: center;
  padding: 20px;
  border-radius: 0px;
  animation: animate-background-and-border 2s infinite alternate;
}
.modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: black;
}
.modal__header {
  font-size: 20px;
  text-align: center;
  margin: 20px 0px;
  width: 100%;
  position: relative;
  font-weight: 800;
}
.modal__header--cls {
  position: absolute;
  right: 0px;
  top: -30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
}
.modal__header--cls::before, .modal__header--cls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 1px;
  animation: animate-width 1s infinite;
}
.modal__header--cls::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__header--cls:hover {
  background-color: darkred;
}

@keyframes animate-width {
  from {
    height: 0%;
  }
  to {
    height: 20px;
  }
}
@keyframes animate-background-and-border {
  0% {
    background-color: peru;
    border-radius: 0px;
  }
  50% {
    background-color: lightblue;
    border-radius: 20px;
  }
  100% {
    background-color: lightgreen;
    border-radius: 50px;
  }
}
.gitprofilefilter__wrap {
  background: olivedrab;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.gitprofilefilter__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gitprofilefilter__input input {
  width: 500px;
  padding: 10px;
  margin: auto;
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 10px;
}
.gitprofilefilter__input button {
  padding: 10px;
  background: blue;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  display: block;
}
.user-details img {
  margin: auto;
}
.user-details p {
  background-color: rgb(255, 187, 187);
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  transition: all 0.6s;
}
.user-details p:hover {
  background-color: rgb(139, 139, 255);
  transform: scale(1.1);
}

.livesearch__wrap {
  background-color: springgreen;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searched__list {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}

.searched__user {
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 127, 127);
  margin: 10px;
  border-radius: 4px;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
  opacity: 0;
}
.searched__user:hover {
  background-color: darkcyan;
}
.searched__user.active {
  opacity: 1;
}

.tictactoe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.tictactoe__square {
  border: solid 1px red;
  float: left;
  font-size: 40px;
  height: 100px;
  width: 100px;
  margin-left: -1px;
  margin-right: -1px;
  text-align: center;
  padding: 0px;
}

.weather__search {
  padding: 30px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  gap: 30px;
}
.weather__search input {
  width: 70%;
  padding: 10px;
  background-color: wheat;
  color: black;
  border-radius: 10px;
  outline: none;
}
.weather__search button {
  width: 30%;
  padding: 10px;
  background-color: black;
  color: crimson;
  font-size: larger;
  border-radius: 10px;
  outline: none;
}

.recipe__wrap {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */