.weather__search {
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    gap: 30px;
    input {
        width: 70%;
        padding: 10px;
        background-color: wheat;
        color: black;
        border-radius: 10px;
        outline: none;
    }

    button {
        width: 30%;
        padding: 10px;
        background-color: black;
        color: crimson;
        font-size: larger;
        border-radius: 10px;
        outline: none;
    }
}
